body {
  text-align: center;
  margin: 10px;
}

hr {
    margin: 30px;
    color: lightgrey;
}

#root {
  margin-bottom: 50px;
}

input {
  margin-right: 10px;
  margin-left: 30px;
}

/* Stylize buttons */
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  border-radius: 10px;
}

/* Wider text box, larger text */
input[type=text] {
    width: 50%;
    margin-bottom: 10px;
    font-size: x-large;
}

/* Larger radio buttons */
input[type='radio'] { 
    transform: scale(1.5); 
}

/* Have images display on same row */
#showcase {
  display: flex;
  justify-content: center; /* Adjust this as needed */
  align-items: center; /* Adjust this as needed */
  margin-left: 30px;
}

figure {
  margin: 0;
  text-align: center;
}
